<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
	<head>
		<title>Sample App Home Page</title>
	</head> 
	<body>

		<P> <b> Example 1: To post a form to the backend><b>

		<p>Would you like to know your generation cohort?!</p>
		<div id="contact-form">
			<form method="post" action="/gen">
				<label for="text">Please Enter Your DOB:</label>
				<input type="Date" id="dob" name="dob" required="required">
				<input type="submit" value="Submit" id="submit"/>
			</form>
		</div>


		<!--P> Example 2: To post a form to the backend> </p>
		 <div id="contact-form">
		 	<form method="post" action="/signup">
		 		<label for="text">Please Enter Your email:</label>
		 		<input type="text" id="email" name="email" required="required">
		 		<input type="submit" value="Submit" id="submit"/>
		 	</form>
		 </div-->


	</body> 
</html>